name: CI Pipeline

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Build step
      run: echo "Building static web app..."

    - name: Run tests
      run: echo "No tests configured"

    - name: Build completed
      run: echo "CI Pipeline executed successfully"

